@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Manrope:wght@700&family=Paytone+One&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
body{background:white; font-family: 'Manrope', sans-serif;}
.container{background: #F0FFF0; width: 28%; padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px ;
  
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
h2{background: #1569C7; color: white;

  font-family: 'Lato', sans-serif;    
  width: fit-content;
  padding: 10px 50px 10px 50px;
  text-shadow: 1px 1px 1px #000;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid white;
  border-radius: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
.b1{ margin-top: 20px; padding: 10px;}
.b2{background: #1569C7; color: white;padding: 10px; margin: 10px;}
input,select{background: none; width: 100%; height: 35px; border: none; border-bottom: 1px solid #1569C7; outline: none; font-weight: bold; }

.part{margin-top: 25px;}
#service{ color: #1569C7; }

select option{font-weight: bold;}
input:focus {
  border-bottom: 2px solid #1569C7;
}
.btn
{
  color:white;background-color:#1569C7 ; font-size: 1.1rem; padding: 10px 30px 10px 30px; text-decoration: none; 
}
.btn:hover{background-color: blue;}
.mode{position: absolute;
  top: 5%;
  left: 80%;
  transform: translate(-50%);}
.mode a{width:fit-content; padding: 10px; text-align:center;background-color: white ; border:1px solid black;
  
}


@media screen and (max-width:480px)  { .container{width: 100%;height: 100vh; } h2{top:0%; } .b1{margin-top: 50px}}

@media screen and (min-width:481px)  { .container{width: 70%;} h2{top:-3%; } .b1{margin-top: 50px}}

@media screen and (min-width:681px)  { .container{width: 70%;} h2{top:-3%; } .b1{margin-top: 50px} .mode{display: none;}}

@media screen and (min-width:801px)  { .container{width: 50%;} h2{top:-3%; } .b1{margin-top: 50px} .mode{display:none;  }}

@media screen and (min-width:1025px)  { .container{width: 40%;} h2{top:-3%; } .b1{margin-top: 50px} .mode{display:block; left: 82%}}

@media screen and (min-width:1281px)  { .container{background: #F0FFF0; width: 28%; padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px ;
  
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; } .b1{margin-top: 50px
  }
  h2{background: #1569C7; color: white;

    font-family: 'Lato', sans-serif;    
    width: fit-content;
    padding: 10px 50px 10px 50px;
    text-shadow: 1px 1px 1px #000;
    position: absolute;
    top: -8%;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid white;
    border-radius: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  .b1{margin-top: 20px;}
}